<div class="container">
    <div class="content">
        <div class="heading-image"></div>
        <div class="navigator"></div>
        <div class="image-selection">
            <div class="container-image-button">
                <a routerLink="/gallery/domenico">
                    <div class="images-domenico">
                        <div class="icon-container">
                            <p>Domenico's Bilder</p>
                            <img class="icon-gallery icon-hover" src="../../assets/icons/arrow_right_white.png">
                        </div>
                    </div>
                </a>
            </div>

            <div class="container-image-button">
                <a routerLink="/gallery/nils">
                    <div class="images-nils">
                        <div class="icon-container">
                            <p>Nils' Bilder</p>
                            <img class="icon-gallery icon-hover" src="../../assets/icons/arrow_right_white.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="image-selection">
            <div class="container-image-button">
                <a routerLink="/gallery/remy">
                    <div class="images-remy">
                        <div class="icon-container">
                            <p>Remy's Bilder</p>
                            <img class="icon-gallery icon-hover" src="../../assets/icons/arrow_right_white.png">
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-image-button">
                <a routerLink="/gallery/olivier">
                    <div class="images-olivier">
                        <div class="icon-container">
                            <p>Olivier's Bilder</p>
                            <img class="icon-gallery icon-hover" src="../../assets/icons/arrow_right_white.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
