$color-light: white;
$color-dark: #212121;
$color-signal: #fab700;
$size-bezel: .5rem;
$size-radius: 4px;
$color-background: $color-light;
$color-text: $color-dark;
$color-accent: $color-signal;

body {
  margin: 0
}
