<div class="container">
    <div class="content">
        <div class="portfolio-image"></div>
        <div class="navigator"></div>
        <div class="image-previews">
            <div class="flexbox container-1">
                <video width="600" height="350" controls>
                    <!-- Video of Beetlejuice -->
                    <source src="../../assets/m152_vide_haessig.mp4" type="video/mp4">
                </video>
                <div class="image-description">
                    <div class="metadata">
                        <h2>Video</h2>
                    </div>
                </div>
            </div>
            <div class="flexbox container-2">
                <iframe width="600" height="350" src="https://www.jungfrau.ch/webcams/top-of-europe-jungfraujoch/"
                        frameborder="0" allowfullscreen></iframe>
                <div class="image-description">
                    <div class="metadata">
                        <h2>Livestream von Jungfraujoch</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
