/* You can add global styles to this file, and also import other style files */
html {
  body {
    margin: 0;
    height: 100%;
    -ms-overflow-style: none;
    background-color: #0d0e10;
    font-family: 'Roboto Mono', monospace;
  }
}

::-webkit-scrollbar {
  display: none;
}
