//SBB Colors
$color-black: #000;
$color-grey: #666;
$color-grey-silver: #cdcdcd;
$color-grey-light: #dcdcdc;
$color-100-rot: #eb0000; //call-to-action
$color-125-rot: #c60018; //hover for call-to-action
$color-150-rot: #a20013; //errors
$color-5-schwarz: #f6f6f6; //backgrounds
$color-10-schwarz: #e5e5e5;
$color-20-schwarz: #d2d2d2; //secondary-buttons
$color-30-schwarz: #bdbdbd;
$color-40-schwarz: #a8a8a8;
$color-60-schwarz: #767676;
$color-70-schwarz: #686868;
$color-72-schwarz: #b7b7b7;
$color-80-schwarz: #5a5a5a;
$color-90-schwarz: #444; //fallback button
$color-100-schwarz: #1e1e1e; //typo
$color-weiss: #fff; //content-container
$color-100-blau: #003399;
$color-zusatz-himmelblau: #0079c7;
$color-zusatz-nachtblau: #143a85;
$color-zusatz-dunkles-magents: #6f2282;
$color-zusatz-echtorange: #e84e10;
$color-zusatz-orange: #f27e00;
$color-zusatz-pfirsichgelb: #fcbb00;
$color-zusatz-zitronengelb: #ffde15;
$color-zusatz-nachhaltigkeits-gruen: #00973b;
