/*Fontsheet*/

@font-face {
    font-family: 'SBBWeb';
    src: url('../fonts/SBB_Font/SBBWeb-Roman.eot') format('eot'), url('../fonts/SBB_Font/SBBWeb-Roman.ttf') format('ttf'), url('../fonts/SBB_Font/SBBWeb-Roman.woff') format('woff'), url('../fonts/SBB_Font/SBBWeb-Roman.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SBBWeb';
    src: url('../fonts/SBB_Font/SBBWeb-Bold.eot') format('eot'), url('../fonts/SBB_Font/SBBWeb-Bold.ttf') format('ttf'), url('../fonts/SBB_Font/SBBWeb-Bold.woff') format('woff'), url('../fonts/SBB_Font/SBBWeb-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SBBWeb';
    src: url('../fonts/SBB_Font/SBBWeb-Italic.eot') format('eot'), url('../fonts/SBB_Font/SBBWeb-Italic.ttf') format('ttf'), url('../fonts/SBB_Font/SBBWeb-Italic.woff') format('woff'), url('../fonts/SBB_Font/SBBWeb-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SBBWeb';
    src: url('../fonts/SBB_Font/SBBWeb-Condensed-Bold.eot') format('eot'), url('../fonts/SBB_Font/SBBWeb-Bold.ttf') format('ttf'), url('../fonts/SBB_Font/SBBWeb-Condensed-Bold.woff') format('woff'), url('../fonts/SBB_Font/SBBWeb-Condensed-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SBBWeb';
    src: url('../fonts/SBB_Font/SBBWeb-Condensed-Heavy.eot') format('eot'), url('../fonts/SBB_Font/SBBWeb-Condensed-Heavy.ttf') format('ttf'), url('../fonts/SBB_Font/SBBWeb-Condensed-Heavy.woff') format('woff'), url('../fonts/SBB_Font/SBBWeb-Condensed-Heavy.woff2') format('woff2');
    font-weight: 650;
    font-style: normal;
}

@font-face {
    font-family: 'SBBWeb';
    src: url('../fonts/SBB_Font/SBBWeb-Light.eot') format('eot'), url('../fonts/SBB_Font/SBBWeb-Light.ttf') format('ttf'), url('../fonts/SBB_Font/SBBWeb-Light.woff') format('woff'), url('../fonts/SBB_Font/SBBWeb-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SBBWeb';
    src: url('../fonts/SBB_Font/SBBWeb-Thin.eot') format('eot'), url('../fonts/SBB_Font/SBBWeb-Thin.ttf') format('ttf'), url('../fonts/SBB_Font/SBBWeb-Thin.woff') format('woff'), url('../fonts/SBB_Font/SBBWeb-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SBBWeb';
    src: url('../fonts/SBB_Font/SBBWeb-UltraLight.eot') format('eot'), url('../fonts/SBB_Font/SBBWeb-UltraLight.ttf') format('ttf'), url('../fonts/SBB_Font/SBBWeb-UltraLight.woff') format('woff'), url('../fonts/SBB_Font/SBBWeb-UltraLight.woff2') format('woff2');
    font-weight: 50;
    font-style: normal;
}