@import "bootstrap";
@import "toastr";
@import "dropzone/dropzone";

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.core-sprite {
  background-image: image-url("core-sprite-2x.png");
  background-size: 405px 379px;
  background-repeat: no-repeat;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 77px;
}

.navbar-brand {
  background-position: -176px 0;
  height: 35px;
  width: 176px;
}

.nav-item:not(first-child) {
  margin-left: 30px;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.explore-icon {
  background-position: -275px -355px;
  height: 24px;
  width: 24px;
}

.notification-icon {
  background-position: -325px -330px;
  height: 24px;
  width: 24px;
}

.profile-icon {
  background-position: -307px -175px;
  height: 24px;
  width: 24px;
}


.landing-left {
  .dummy-phone {
    background-image: image-url("dummy-phone-2x.png");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 454px 618px;
    position: relative;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;

  }

  .screen-shot {
    position: absolute;
    top: 99px;
    right: 63px;

    .item {
      position: absolute;
    }
  }

  .carousel-fade {
    .carousel-item.active {
      opacity: 1;
      display: block;
    }

    .carousel-item {
      transition: opacity 0, 6s ease-in-out;
      opacity: 0;
      position: relative;
      display: block;
    }

    .carousel-item:not(.active) {
      position: absolute;
      top: 0px;
    }
  }
}

.box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 10px 0;
  margin: 0 0 10px;
}

.brand-name-img {
  background-position: 0 0;
  height: 51px;
  width: 175px;
}

.landing-right {
  .form-login {
    width: 350px;

    form {
      padding: 0 40px;

      .btn-primary {
        width: 100%;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
      }

      input {
        border: 1px solid #efefef;
      }

      .form-check-label {
        padding: 0;
        font-size: 15px;
        color: #262626;
      }
    }

    .brand-name-img {
      margin: 22px auto 8px;
    }

  }

  .redirect-links {
    width: 350px;
  }
}

footer .nav-item {
  color: #003569 !important;
  font-size: 12px;
  font-weight: bold;
}

.light-color {
  color: #999;
}

footer .nav-item {
  color: #003569 !important;
  font-size: 12px;
  font-weight: bold;
}

.profile-wrapper {
  padding: 60px 0;
  border-bottom: 1px solid #efefef;

  .username {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
  }

  .email {
    font-size: 16px;
    font-weight: bold;
  }
}

.round-img {
  border-radius: 50%;
}

.common-btn {
  height: 28px;
  line-height: 24px;
  padding: 0 24px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.edit-profile-btn {
  margin: 5px 0 0 15px;
  font-weight: bold;
}

.setting {
  margin: 7px 0 0 10px;
  background-color: transparent;
  background-position: -125px -355px;
  height: 24px;
  width: 24px;
  border: none;
}

.setting:hover {
  cursor: pointer;
}

.edit-profile-wrapper {
  margin: 60px 0 0;

  .left-col {
    border: 1px solid #dbdbdb;
    padding: 0;
    background-color: white;

    .list-group-item {
      border: none;
      color: #262626;
      border-radius: 0;
      font-size: 16px;
      border-left: 2px solid transparent;
    }

    .list-group-item:first-child {
      font-weight: bold;
      border-left-color: #262626;
    }

    .list-group-item:not(:first-child):hover {
      border-left-color: #dbdbdb;
    }
  }

  .right-col {
    border: 1px solid #dbdbdb;
    border-left: none;
    background-color: white;

    .username-img {
      margin: 32px 0;

      .col-sm-9 {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .form-group {
      font-size: 16px;
    }
  }
}

.post-author-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.upload-photos-icon:hover {
  cursor: pointer;
}

.dz-preview.dz-image-preview {
  margin: 2px;
}

.dz-image {
  border-radius: 0px !important;

  img {
    width: 100%
  }
}

.dz-remove {
  @extend .core-sprite;
  @extend .hide-text;
  position: absolute;
  top: 9px;
  right: 5px;
  z-index: 20;
  width: 18px;
  height: 18px;
  background-position: -386px -25px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.dropzone .dz-preview:hover .dz-remove {
  opacity: 1;
}

.upload-photos-icon {
  height: 120px;
  width: 120px;
  border: 2px dashed #dddfe2;
  border-radius: 2px;
  padding: 48px;
  display: inline-block;
  margin: 2px;
}

